@import 'src/assets/stylesheet/config';

.checkout-page {
    .checkout-content {
        display: flex;
        margin: 100px;

        .checkout-my-cart {
            width: 70%;
            background-color: white;
            padding: 50px;
            border-radius: 10px;
            font-size: x-large;

            .checkout-items {
                .checkout-item {
                    font-size: large;
                    border-radius: 10px;
                    padding: 10px;

                    .checkout-item-actions {
                        display: flex;
                        justify-content: space-between;
                        margin-top: 20px;

                        .remove-button {
                            @include danger-button;
                        }
                    }
                }
            }

            .checkout-info {
                display: flex;
                font-size: x-large;
                justify-content: space-between;
            }
        }

        .checkout-form {
            width: 30%;
            height: 550px;
            padding: 30px;
            margin-left: 40px;
            background-color: white;
            border-radius: 10px;

            .checkout-button {
                @include general-button;
            }
        }
    }
}

.divider {
    margin: 20px 0;
    border-bottom: 1px solid gray;
}

.empty-cart {
    font-size: large;
    color: gray;
}

@keyframes borderExpand {
  0% {
    box-shadow: 0 0 0 0 red;
  }
  100% {
    box-shadow: 0 0 0 10px red;
  }
}

@keyframes finalBorder {
  from {
    border: none;
  }
  to {
    border: 2px solid red;
  }
}

.animate-borders {
  animation: borderExpand 0.5s ease-out 0s 1,
             borderExpand 0.5s ease-out 0.5s 1,
             borderExpand 0.5s ease-out 1s 1,
             finalBorder 0.5s ease-out 1.5s forwards;
}